@font-face {
  src: url("./gilroy-regular.ttf") format("truetype");
  font-family: "Gilroy";
  font-weight: normal;
}

@font-face {
  src: url("./gilroy-semibold.ttf") format("truetype");
  font-family: "Gilroy";
  font-weight: bold;
}

@font-face {
  src: url("./HomemadeApple-Regular.ttf") format("truetype");
  font-family: "Homemade Apple";
  font-weight: normal;
}

@font-face {
  src: url("./Roboto-Regular.ttf");
  font-family: "Roboto";
  font-weight: normal;
}
